<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Overview" data-toc-modified-id="Overview-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Overview</a></span></li><li><span><a href="#Notebook-Configuration" data-toc-modified-id="Notebook-Configuration-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Notebook Configuration</a></span><ul class="toc-item"><li><span><a href="#Reading Data" data-toc-modified-id="Reading Data"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Reading Data</a></span></li><li><span><a href="#Warning" data-toc-modified-id="Warning-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Warning</a></span></li><li><span><a href="#Matplotlib" data-toc-modified-id="Matplotlib-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Matplotlib</a></span></li><li><span><a href="#TensorFlow" data-toc-modified-id="TensorFlow-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>TensorFlow</a></span></li><li><span><a href="#Random-seed" data-toc-modified-id="Random-seed-2.5"><span class="toc-item-num">2.5&nbsp;&nbsp;</span>Random seed</a></span></li></ul></li><li><span><a href="#Data-Preprocessing" data-toc-modified-id="Data-Preprocessing-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Data Preprocessing</a></span></li><li><span><a href="#Hyperparameter-Tuning" data-toc-modified-id="Hyperparameter-Tuning-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Hyperparameter Tuning</a></span></li><li><span><a href="#Model-Selection" data-toc-modified-id="Model-Selection-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Model Selection</a></span></li><li><span><a href="#Generating-the-Submission-File" data-toc-modified-id="Generating-the-Submission-File-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Generating the Submission File</a></span><ul class="toc-item"><li><span><a href="#Creating-the-directory-for-the-submission-file" data-toc-modified-id="Creating-the-directory-for-the-submission-file-6.1"><span class="toc-item-num">6.1&nbsp;&nbsp;</span>Creating the directory for the submission file</a></span></li><li><span><a href="#Generating-the-submission-file" data-toc-modified-id="Generating-the-submission-file-6.2"><span class="toc-item-num">6.2&nbsp;&nbsp;</span>Generating the submission file</a></span></li></ul></li></ul></div>

# Overview

# Notebook Configuration

In [1]:
#imports
import pandas as pd
import warnings
import matplotlib.pyplot as plt
import numpy as np
import math

## Warning

In [2]:
# Ignore warnings
warnings.filterwarnings('ignore')

## Random seed

In [3]:
# The random seed
random_seed = 42
# Set random seed in numpy
np.random.seed(random_seed)

# Data Preprocessing

In [4]:
df_raw_train = pd.read_csv('C:\\Users\\SRINIVAS\\Downloads\\ML_ASSIGN_TERMS\\NYC_TAXI_TRIP_DURATION\\train\\train.csv',
                           header=0)
df_train = df_raw_train.copy(deep=True)

df_raw_test = pd.read_csv('C:\\Users\\SRINIVAS\\Downloads\\ML_ASSIGN_TERMS\\NYC_TAXI_TRIP_DURATION\\test\\test.csv',
                          header=0)
df_test = df_raw_test.copy(deep=True)

target = 'trip_duration'

In [5]:
null_counts_train = df_train.isnull().sum()
null_counts_test = df_test.isnull().sum()
print("Null counts in df_train:")
print(null_counts_train)
print("\nNull counts in df_test:")
print(null_counts_test)

Null counts in df_train:
id                    0
vendor_id             0
pickup_datetime       0
dropoff_datetime      0
passenger_count       0
pickup_longitude      0
pickup_latitude       0
dropoff_longitude     0
dropoff_latitude      0
store_and_fwd_flag    0
trip_duration         0
dtype: int64

Null counts in df_test:
id                    0
vendor_id             0
pickup_datetime       0
passenger_count       0
pickup_longitude      0
pickup_latitude       0
dropoff_longitude     0
dropoff_latitude      0
store_and_fwd_flag    0
dtype: int64

In [6]:
print('shape of train')
pd.DataFrame([[df_train.shape[0], df_train.shape[1]]], columns=['# rows', '# columns'])

shape of train

    # rows  # columns
0  1458644         11

In [7]:
print('shape of test')
pd.DataFrame([[df_train.shape[0], df_test.shape[1]]], columns=['# rows', '# columns'])

shape of test

    # rows  # columns
0  1458644          9

In [8]:
df_train.head()

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration
0,id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.982155,40.767937,-73.964630,40.765602,N,455
1,id2377394,1,2016-06-12 00:43:35,2016-06-12 00:54:38,1,-73.980415,40.738564,-73.999481,40.731152,N,663
2,id3858529,2,2016-01-19 11:35:24,2016-01-19 12:10:48,1,-73.979027,40.763939,-74.005333,40.710087,N,2124
3,id3504673,2,2016-04-06 19:32:31,2016-04-06 19:39:40,1,-74.010040,40.719971,-74.012268,40.706718,N,429
4,id2181028,2,2016-03-26 13:30:55,2016-03-26 13:38:10,1,-73.973053,40.793209,-73.972923,40.782520,N,435

In [9]:
df_test.head()

,id,vendor_id,pickup_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag
0,id3004672,1,2016-06-30 23:59:58,1,-73.988129,40.732029,-73.990173,40.756680,N
1,id3505355,1,2016-06-30 23:59:53,1,-73.964203,40.679993,-73.959808,40.655403,N
2,id1217141,1,2016-06-30 23:59:47,1,-73.997437,40.737583,-73.986160,40.729523,N
3,id2150126,2,2016-06-30 23:59:41,1,-73.956070,40.771900,-73.986427,40.730469,N
4,id1598245,1,2016-06-30 23:59:33,1,-73.970215,40.761475,-73.961510,40.755890,N

In [10]:
from sklearn.model_selection import train_test_split

df_train, df_val = train_test_split(df_train, train_size=0.8, random_state=random_seed)
df_train, df_val = df_train.reset_index(drop=True), df_val.reset_index(drop=True)

In [11]:
print('shape of train')
pd.DataFrame([[df_train.shape[0], df_train.shape[1]]], columns=['# rows', '# columns'])

shape of train

    # rows  # columns
0  1166915         11

In [12]:
print('shape of Val')
pd.DataFrame([[df_val.shape[0], df_train.shape[1]]], columns=['# rows', '# columns'])

shape of Val

   # rows  # columns
0  291729         11

In [13]:
df_train.head()

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration
0,id0458976,2,2016-06-29 18:21:02,2016-06-29 18:39:55,1,-73.862762,40.768822,-73.891701,40.746689,N,1133
1,id0434613,2,2016-04-25 13:03:26,2016-04-25 13:18:13,1,-73.958038,40.783237,-73.975510,40.760853,N,887
2,id3809234,2,2016-05-07 12:36:09,2016-05-07 12:47:35,1,-73.969460,40.785519,-73.989243,40.771748,N,686
3,id1203705,1,2016-05-14 18:44:17,2016-05-14 18:57:55,1,-73.981743,40.736549,-73.998352,40.726440,N,818
4,id1896645,2,2016-04-10 22:51:25,2016-04-10 23:07:16,1,-73.977913,40.752609,-73.975647,40.733139,N,951

In [14]:
df_val.head()

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration
0,id2793718,2,2016-06-08 07:36:19,2016-06-08 07:53:39,1,-73.985611,40.735943,-73.980331,40.760468,N,1040
1,id3485529,2,2016-04-03 12:58:11,2016-04-03 13:11:58,1,-73.978394,40.764351,-73.991623,40.749859,N,827
2,id1816614,2,2016-06-05 02:49:13,2016-06-05 02:59:27,5,-73.989059,40.744389,-73.973381,40.748692,N,614
3,id1050851,2,2016-05-05 17:18:27,2016-05-05 17:32:54,2,-73.990326,40.731136,-73.991264,40.748917,N,867
4,id0140657,1,2016-05-12 17:43:38,2016-05-12 19:06:25,4,-73.789497,40.646675,-73.987137,40.759232,N,4967

In [15]:
def common_var_checker(df_train, df_val, df_test, target):
    """
    The common variables checker

    """    
    df_common_var = pd.DataFrame(np.intersect1d(np.intersect1d(df_train.columns, df_val.columns), np.union1d(df_test.columns, [target])),
                                 columns=['common var'])
                
    return df_common_var

In [16]:
df_common_var = common_var_checker(df_train, df_val, df_test, target)
df_common_var

           common var
0    dropoff_latitude
1   dropoff_longitude
2                  id
3     passenger_count
4     pickup_datetime
5     pickup_latitude
6    pickup_longitude
7  store_and_fwd_flag
8       trip_duration
9           vendor_id

In [17]:
# Get the features in the training data but not in the validation or test data
uncommon_feature_train_not_val_test = np.setdiff1d(df_train.columns, df_common_var['common var'])
pd.DataFrame(uncommon_feature_train_not_val_test, columns=['uncommon feature'])

   uncommon feature
0  dropoff_datetime

In [18]:
uncommon_feature_val_not_train_test = np.setdiff1d(df_val.columns, df_common_var['common var'])
pd.DataFrame(uncommon_feature_val_not_train_test, columns=['uncommon feature'])

   uncommon feature
0  dropoff_datetime

In [19]:
# Get the features in the test data but not in the training or validation data
uncommon_feature_test_not_train_val = np.setdiff1d(df_test.columns, df_common_var['common var'])
pd.DataFrame(uncommon_feature_test_not_train_val, columns=['uncommon feature'])

Empty DataFrame
Columns: [uncommon feature]
Index: []

In [20]:
df_train = df_train.drop(columns=uncommon_feature_train_not_val_test)
df_train.head()

,id,vendor_id,pickup_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration
0,id0458976,2,2016-06-29 18:21:02,1,-73.862762,40.768822,-73.891701,40.746689,N,1133
1,id0434613,2,2016-04-25 13:03:26,1,-73.958038,40.783237,-73.975510,40.760853,N,887
2,id3809234,2,2016-05-07 12:36:09,1,-73.969460,40.785519,-73.989243,40.771748,N,686
3,id1203705,1,2016-05-14 18:44:17,1,-73.981743,40.736549,-73.998352,40.726440,N,818
4,id1896645,2,2016-04-10 22:51:25,1,-73.977913,40.752609,-73.975647,40.733139,N,951

In [21]:
# Remove the uncommon features from the validation data
df_val = df_val.drop(columns=uncommon_feature_val_not_train_test)
df_val.head()

,id,vendor_id,pickup_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration
0,id2793718,2,2016-06-08 07:36:19,1,-73.985611,40.735943,-73.980331,40.760468,N,1040
1,id3485529,2,2016-04-03 12:58:11,1,-73.978394,40.764351,-73.991623,40.749859,N,827
2,id1816614,2,2016-06-05 02:49:13,5,-73.989059,40.744389,-73.973381,40.748692,N,614
3,id1050851,2,2016-05-05 17:18:27,2,-73.990326,40.731136,-73.991264,40.748917,N,867
4,id0140657,1,2016-05-12 17:43:38,4,-73.789497,40.646675,-73.987137,40.759232,N,4967

In [22]:
df_test = df_test.drop(columns=uncommon_feature_test_not_train_val)
df_test.head()

,id,vendor_id,pickup_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag
0,id3004672,1,2016-06-30 23:59:58,1,-73.988129,40.732029,-73.990173,40.756680,N
1,id3505355,1,2016-06-30 23:59:53,1,-73.964203,40.679993,-73.959808,40.655403,N
2,id1217141,1,2016-06-30 23:59:47,1,-73.997437,40.737583,-73.986160,40.729523,N
3,id2150126,2,2016-06-30 23:59:41,1,-73.956070,40.771900,-73.986427,40.730469,N
4,id1598245,1,2016-06-30 23:59:33,1,-73.970215,40.761475,-73.961510,40.755890,N

In [23]:
df = pd.concat([df_train, df_val, df_test], sort=False)

In [24]:
def id_checker(df, dtype='float'):
    """
    The identifier checker
    """
    
    # Get the dataframe of identifiers
    df_id = df[[var for var in df.columns
                # If the data type is not dtype
                if (df[var].dtype != dtype
                    # If the value is unique for each sample
                    and df[var].nunique(dropna=True) == df[var].notnull().sum())]]
    
    return df_id

In [25]:
df_id = id_checker(df)
df_id.head()

          id
0  id0458976
1  id0434613
2  id3809234
3  id1203705
4  id1896645

In [26]:
df_train.drop(columns=np.intersect1d(df_id.columns, df_train.columns), inplace=True)
df_val.drop(columns=np.intersect1d(df_id.columns, df_val.columns), inplace=True)
df_test.drop(columns=np.intersect1d(df_id.columns, df_test.columns), inplace=True)

In [27]:
df_train.head()

,vendor_id,pickup_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration
0,2,2016-06-29 18:21:02,1,-73.862762,40.768822,-73.891701,40.746689,N,1133
1,2,2016-04-25 13:03:26,1,-73.958038,40.783237,-73.975510,40.760853,N,887
2,2,2016-05-07 12:36:09,1,-73.969460,40.785519,-73.989243,40.771748,N,686
3,1,2016-05-14 18:44:17,1,-73.981743,40.736549,-73.998352,40.726440,N,818
4,2,2016-04-10 22:51:25,1,-73.977913,40.752609,-73.975647,40.733139,N,951

In [28]:
df_val.head()

,vendor_id,pickup_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration
0,2,2016-06-08 07:36:19,1,-73.985611,40.735943,-73.980331,40.760468,N,1040
1,2,2016-04-03 12:58:11,1,-73.978394,40.764351,-73.991623,40.749859,N,827
2,2,2016-06-05 02:49:13,5,-73.989059,40.744389,-73.973381,40.748692,N,614
3,2,2016-05-05 17:18:27,2,-73.990326,40.731136,-73.991264,40.748917,N,867
4,1,2016-05-12 17:43:38,4,-73.789497,40.646675,-73.987137,40.759232,N,4967

In [29]:
df_test.head()

,vendor_id,pickup_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag
0,1,2016-06-30 23:59:58,1,-73.988129,40.732029,-73.990173,40.756680,N
1,1,2016-06-30 23:59:53,1,-73.964203,40.679993,-73.959808,40.655403,N
2,1,2016-06-30 23:59:47,1,-73.997437,40.737583,-73.986160,40.729523,N
3,2,2016-06-30 23:59:41,1,-73.956070,40.771900,-73.986427,40.730469,N
4,1,2016-06-30 23:59:33,1,-73.970215,40.761475,-73.961510,40.755890,N

In [30]:
def haversine_distance(lat1, lon1, lat2, lon2):
    R = 6371  # Radius of the earth in km
    dLat = math.radians(lat2 - lat1)
    dLon = math.radians(lon2 - lon1)
    a = (math.sin(dLat/2) * math.sin(dLat/2) +
         math.cos(math.radians(lat1)) * math.cos(math.radians(lat2)) *
         math.sin(dLon/2) * math.sin(dLon/2))
    c = 2 * math.atan2(math.sqrt(a), math.sqrt(1-a))
    d = R * c
    return d

def add_haversine_column(df):
  df['haversine_distance'] = df.apply(lambda row: haversine_distance(row['pickup_latitude'], row['pickup_longitude'], row['dropoff_latitude'], row['dropoff_longitude']), axis=1)
  return df

df_train = add_haversine_column(df_train)
df_val = add_haversine_column(df_val)
df_test = add_haversine_column(df_test)

In [31]:
def datetime_transformer(df, datetime_vars):
    """
    The datetime transformer
    """
    
    # The dictionary with key as datetime type and value as datetime type operator
    dict_ = {'year'   : lambda x : x.dt.year,
             'month'  : lambda x : x.dt.month,
             'day'    : lambda x : x.dt.day,
             'hour'   : lambda x : x.dt.hour,
             'minute' : lambda x : x.dt.minute,
             'second' : lambda x : x.dt.second}
    
    df_datetime = df.copy(deep=True)
    
    for var in datetime_vars:
        df_datetime[var] = pd.to_datetime(df_datetime[var])
        
        for datetime_type, datetime_type_operator in dict_.items():
            df_datetime[var + '_' + datetime_type] = datetime_type_operator(df_datetime[var])
            
    df_datetime = df_datetime.drop(columns=datetime_vars)
                
    return df_datetime

In [32]:
datetime_vars = ['pickup_datetime']

In [33]:
df_train = datetime_transformer(df_train, datetime_vars)

In [34]:
df_train.head()

,vendor_id,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration,haversine_distance,pickup_datetime_year,pickup_datetime_month,pickup_datetime_day,pickup_datetime_hour,pickup_datetime_minute,pickup_datetime_second
0,2,1,-73.862762,40.768822,-73.891701,40.746689,N,1133,3.463778,2016,6,29,18,21,2
1,2,1,-73.958038,40.783237,-73.975510,40.760853,N,887,2.891365,2016,4,25,13,3,26
2,2,1,-73.969460,40.785519,-73.989243,40.771748,N,686,2.262636,2016,5,7,12,36,9
3,1,1,-73.981743,40.736549,-73.998352,40.726440,N,818,1.795030,2016,5,14,18,44,17
4,2,1,-73.977913,40.752609,-73.975647,40.733139,N,951,2.173389,2016,4,10,22,51,25

In [35]:
df_val = datetime_transformer(df_val, datetime_vars)
df_val.head()

,vendor_id,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration,haversine_distance,pickup_datetime_year,pickup_datetime_month,pickup_datetime_day,pickup_datetime_hour,pickup_datetime_minute,pickup_datetime_second
0,2,1,-73.985611,40.735943,-73.980331,40.760468,N,1040,2.763050,2016,6,8,7,36,19
1,2,1,-73.978394,40.764351,-73.991623,40.749859,N,827,1.959178,2016,4,3,12,58,11
2,2,5,-73.989059,40.744389,-73.973381,40.748692,N,614,1.404772,2016,6,5,2,49,13
3,2,2,-73.990326,40.731136,-73.991264,40.748917,N,867,1.978660,2016,5,5,17,18,27
4,1,4,-73.789497,40.646675,-73.987137,40.759232,N,4967,20.837745,2016,5,12,17,43,38

In [36]:
df_test = datetime_transformer(df_test, datetime_vars)
df_test.head()

,vendor_id,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,haversine_distance,pickup_datetime_year,pickup_datetime_month,pickup_datetime_day,pickup_datetime_hour,pickup_datetime_minute,pickup_datetime_second
0,1,1,-73.988129,40.732029,-73.990173,40.756680,N,2.746426,2016,6,30,23,59,58
1,1,1,-73.964203,40.679993,-73.959808,40.655403,N,2.759239,2016,6,30,23,59,53
2,1,1,-73.997437,40.737583,-73.986160,40.729523,N,1.306155,2016,6,30,23,59,47
3,2,1,-73.956070,40.771900,-73.986427,40.730469,N,5.269088,2016,6,30,23,59,41
4,1,1,-73.970215,40.761475,-73.961510,40.755890,N,0.960842,2016,6,30,23,59,33

In [37]:
df_train

,vendor_id,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration,haversine_distance,pickup_datetime_year,pickup_datetime_month,pickup_datetime_day,pickup_datetime_hour,pickup_datetime_minute,pickup_datetime_second
0,2,1,-73.862762,40.768822,-73.891701,40.746689,N,1133,3.463778,2016,6,29,18,21,2
1,2,1,-73.958038,40.783237,-73.975510,40.760853,N,887,2.891365,2016,4,25,13,3,26
2,2,1,-73.969460,40.785519,-73.989243,40.771748,N,686,2.262636,2016,5,7,12,36,9
3,1,1,-73.981743,40.736549,-73.998352,40.726440,N,818,1.795030,2016,5,14,18,44,17
4,2,1,-73.977913,40.752609,-73.975647,40.733139,N,951,2.173389,2016,4,10,22,51,25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1166910,2,2,-73.955032,40.777328,-74.006203,40.749424,N,1281,5.310383,2016,3,25,7,11,49
1166911,1,1,-73.973618,40.763920,-73.983849,40.749874,N,833,1.783777,2016,2,16,18,1,45
1166912,2,1,-74.006195,40.734283,-73.949608,40.785282,N,1285,7.407646,2016,1,26,19,22,29
1166913,1,1,-73.962341,40.767323,-73.969757,40.768669,N,389,0.642215,2016,1,19,11,53,47
1166914,2,1,-73.874649,40.774071,-74.004242,40.746899,N,1570,11.325311,2016,2,10,22,39,31

In [38]:
# Rush Hours or Not based on time
import plotly.express as px

n_bookings_per_hour = df_train['pickup_datetime_hour'].value_counts().reset_index()
n_bookings_per_hour.columns = ['Hour of the Day', 'Number of Bookings']
n_bookings_per_hour = n_bookings_per_hour.sort_values(by='Hour of the Day')

fig = px.bar(n_bookings_per_hour, x='Hour of the Day', y='Number of Bookings', 
             labels={'Hour of the Day': 'Hour of the Day', 'Number of Bookings': 'Number of Bookings'},
             title='Number of Bookings vs. Hour of the Day')
fig.update_xaxes(tickmode='linear', dtick=1)

fig.show()

In [39]:
df_train

,vendor_id,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration,haversine_distance,pickup_datetime_year,pickup_datetime_month,pickup_datetime_day,pickup_datetime_hour,pickup_datetime_minute,pickup_datetime_second
0,2,1,-73.862762,40.768822,-73.891701,40.746689,N,1133,3.463778,2016,6,29,18,21,2
1,2,1,-73.958038,40.783237,-73.975510,40.760853,N,887,2.891365,2016,4,25,13,3,26
2,2,1,-73.969460,40.785519,-73.989243,40.771748,N,686,2.262636,2016,5,7,12,36,9
3,1,1,-73.981743,40.736549,-73.998352,40.726440,N,818,1.795030,2016,5,14,18,44,17
4,2,1,-73.977913,40.752609,-73.975647,40.733139,N,951,2.173389,2016,4,10,22,51,25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1166910,2,2,-73.955032,40.777328,-74.006203,40.749424,N,1281,5.310383,2016,3,25,7,11,49
1166911,1,1,-73.973618,40.763920,-73.983849,40.749874,N,833,1.783777,2016,2,16,18,1,45
1166912,2,1,-74.006195,40.734283,-73.949608,40.785282,N,1285,7.407646,2016,1,26,19,22,29
1166913,1,1,-73.962341,40.767323,-73.969757,40.768669,N,389,0.642215,2016,1,19,11,53,47
1166914,2,1,-73.874649,40.774071,-74.004242,40.746899,N,1570,11.325311,2016,2,10,22,39,31

In [40]:
# Taking 7am - 7 pm as Rush Hours
df_train['rush'] = df_train['pickup_datetime_hour'].apply(lambda x: 'Rush' if  7 <= x < 19 else 'Non-rush')
df_test['rush'] = df_test['pickup_datetime_hour'].apply(lambda x: 'Rush' if  7 <= x < 19 else 'Non-rush')
df_val['rush'] = df_val['pickup_datetime_hour'].apply(lambda x: 'Rush' if  7 <= x < 19 else 'Non-rush')

In [41]:
df_train

,vendor_id,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration,haversine_distance,pickup_datetime_year,pickup_datetime_month,pickup_datetime_day,pickup_datetime_hour,pickup_datetime_minute,pickup_datetime_second,rush
0,2,1,-73.862762,40.768822,-73.891701,40.746689,N,1133,3.463778,2016,6,29,18,21,2,Rush
1,2,1,-73.958038,40.783237,-73.975510,40.760853,N,887,2.891365,2016,4,25,13,3,26,Rush
2,2,1,-73.969460,40.785519,-73.989243,40.771748,N,686,2.262636,2016,5,7,12,36,9,Rush
3,1,1,-73.981743,40.736549,-73.998352,40.726440,N,818,1.795030,2016,5,14,18,44,17,Rush
4,2,1,-73.977913,40.752609,-73.975647,40.733139,N,951,2.173389,2016,4,10,22,51,25,Non-rush
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1166910,2,2,-73.955032,40.777328,-74.006203,40.749424,N,1281,5.310383,2016,3,25,7,11,49,Rush
1166911,1,1,-73.973618,40.763920,-73.983849,40.749874,N,833,1.783777,2016,2,16,18,1,45,Rush
1166912,2,1,-74.006195,40.734283,-73.949608,40.785282,N,1285,7.407646,2016,1,26,19,22,29,Non-rush
1166913,1,1,-73.962341,40.767323,-73.969757,40.768669,N,389,0.642215,2016,1,19,11,53,47,Rush
1166914,2,1,-73.874649,40.774071,-74.004242,40.746899,N,1570,11.325311,2016,2,10,22,39,31,Non-rush

In [42]:
pd.DataFrame([[df_train.shape[0], df_train.shape[1]]], columns=['# rows', '# columns'])

    # rows  # columns
0  1166915         16

In [43]:
pd.DataFrame([[df_val.shape[0], df_val.shape[1]]], columns=['# rows', '# columns'])

   # rows  # columns
0  291729         16

In [44]:
pd.DataFrame([[df_test.shape[0], df_test.shape[1]]], columns=['# rows', '# columns'])

   # rows  # columns
0  625134         15

In [45]:
df = pd.concat([df_train, df_val, df_test], sort=False)
pd.DataFrame(df.dtypes.unique(), columns=['dtype'])

     dtype
0    int64
1  float64
2   object
3    int32

In [46]:
def cat_var_checker(df, dtype='object'):
    """
    The categorical variable checker
    """
    
    # Get the dataframe of categorical variables and their number of unique value
    df_cat = pd.DataFrame([[var, df[var].nunique(dropna=False)]
                           # If the data type is dtype
                           for var in df.columns if df[var].dtype == dtype],
                          columns=['var', 'nunique'])
    
    # Sort df_cat in accending order of the number of unique value
    df_cat = df_cat.sort_values(by='nunique', ascending=False).reset_index(drop=True)
    
    return df_cat

In [47]:
# Call cat_var_checker on df
df_cat = cat_var_checker(df)
df_cat

                  var  nunique
0  store_and_fwd_flag        2
1                rush        2

In [48]:
# One-hot-encode the categorical features in the combined data
df = pd.get_dummies(df, columns=np.setdiff1d(df_cat['var'], [target]))

# Print the first 5 rows of df
df.head()

,vendor_id,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,trip_duration,haversine_distance,pickup_datetime_year,pickup_datetime_month,pickup_datetime_day,pickup_datetime_hour,pickup_datetime_minute,pickup_datetime_second,rush_Non-rush,rush_Rush,store_and_fwd_flag_N,store_and_fwd_flag_Y
0,2,1,-73.862762,40.768822,-73.891701,40.746689,1133.0,3.463778,2016,6,29,18,21,2,False,True,True,False
1,2,1,-73.958038,40.783237,-73.975510,40.760853,887.0,2.891365,2016,4,25,13,3,26,False,True,True,False
2,2,1,-73.969460,40.785519,-73.989243,40.771748,686.0,2.262636,2016,5,7,12,36,9,False,True,True,False
3,1,1,-73.981743,40.736549,-73.998352,40.726440,818.0,1.795030,2016,5,14,18,44,17,False,True,True,False
4,2,1,-73.977913,40.752609,-73.975647,40.733139,951.0,2.173389,2016,4,10,22,51,25,True,False,True,False

In [49]:
# Separating the training data
df_train = df.iloc[:df_train.shape[0], :]

# Separating the validation data
df_val = df.iloc[df_train.shape[0]:df_train.shape[0] + df_val.shape[0], :]

# Separating the test data
df_test = df.iloc[df_train.shape[0] + df_val.shape[0]:, :]

In [50]:
# Print DataFrame shapes
print("Test set shape:")
print(pd.DataFrame([[df_test.shape[0], df_test.shape[1]]], columns=['# rows', '# columns']))

print("Validation set shape:")
print(pd.DataFrame([[df_val.shape[0], df_val.shape[1]]], columns=['# rows', '# columns']))

print("Training set shape:")
print(pd.DataFrame([[df_train.shape[0], df_train.shape[1]]], columns=['# rows', '# columns']))

Test set shape:
   # rows  # columns
0  625134         18
Validation set shape:
   # rows  # columns
0  291729         18
Training set shape:
    # rows  # columns
0  1166915         18

In [51]:
# Get the feature matrix
X_train = df_train[np.setdiff1d(df_train.columns, [target])].values
X_val = df_val[np.setdiff1d(df_val.columns, [target])].values
X_test = df_test[np.setdiff1d(df_test.columns, [target])].values

# Get the target vector
y_train = df_train[target].values
y_val = df_val[target].values
y_test = df_test[target].values

In [52]:
from sklearn.preprocessing import StandardScaler
ss = StandardScaler()

In [53]:
# Standardize the training data
X_train = ss.fit_transform(X_train)

# Standardize the validation data
X_val = ss.transform(X_val)

# Standardize the test data
X_test = ss.transform(X_test)

In [54]:
# Standardize the training data
y_train = ss.fit_transform(y_train.reshape(-1, 1)).reshape(-1)

# Standardize the validation data
y_val = ss.transform(y_val.reshape(-1, 1)).reshape(-1)

# Standardize the test data
y_test = ss.transform(y_test.reshape(-1, 1)).reshape(-1)

# Hyperparameter Tuning

In [55]:
from sklearn.model_selection import PredefinedSplit

def get_train_val_ps(X_train, y_train, X_val, y_val):
    """
    Get the:
    feature matrix and target velctor in the combined training and validation data
    target vector in the combined training and validation data
    PredefinedSplit    
    """  

    # Combine the feature matrix in the training and validation data
    X_train_val = np.vstack((X_train, X_val))

    # Combine the target vector in the training and validation data
    y_train_val = np.vstack((y_train.reshape(-1, 1), y_val.reshape(-1, 1))).reshape(-1)

    # Get the indices of training and validation data
    train_val_idxs = np.append(np.full(X_train.shape[0], -1), np.full(X_val.shape[0], 0))

    # The PredefinedSplit
    ps = PredefinedSplit(train_val_idxs)

    return X_train_val, y_train_val, ps

In [62]:
# Implement me
from sklearn.linear_model import SGDRegressor
from sklearn.model_selection import RandomizedSearchCV
import os
from sklearn.ensemble import HistGradientBoostingRegressor  
from sklearn.metrics import make_scorer
import lightgbm as lgb



abspath_curr='C:\\Users\\SRINIVAS\\Downloads\\ML_ASSIGN_TERMS\\NYC_TAXI_TRIP_DURATION'
models = {'sgd': SGDRegressor(random_state=random_seed),
          'gbr': HistGradientBoostingRegressor(random_state=random_seed),
          'lgbm': lgb.LGBMRegressor(random_state=random_seed)}

from sklearn.pipeline import Pipeline

pipes = {}

for acronym, model in models.items():
    pipes[acronym] = Pipeline([('model', model)])

X_train_val, y_train_val, ps = get_train_val_ps(X_train, y_train, X_val, y_val)

param_grids = {}

eta_grid = [0.00001, 0.0001, 0.001, 0.01, 0.1]
alpha_grid = [0.00001, 0.0001, 0.001, 0.01, 0.1, 1, 10, 100]

# Update param_grids
param_grids['sgd'] = [{'model__eta0': eta_grid,
                       'model__alpha': alpha_grid}]

learning_rate_grid = [0.01, 0.1, 0.2, 0.3]
max_iter_grid = [100, 200, 300]
max_depth_grid = [None, 3, 5, 7]
min_samples_leaf_grid = [1, 5, 10]

param_grids['gbr'] = [{
    'model__learning_rate': learning_rate_grid,
    'model__max_iter': max_iter_grid,
    'model__max_depth': max_depth_grid,
    'model__min_samples_leaf': min_samples_leaf_grid
}]

param_grids['lgbm'] = {
    'model__num_leaves': [31, 63, 127],
    'model__learning_rate': [0.01, 0.1, 0.2],
    'model__n_estimators': [50, 100, 200],
    'model__max_depth': [-1, 3, 5] 
}

directory = os.path.dirname(abspath_curr + 'result/cv_results/GridSearchCV/')
if not os.path.exists(directory):
    os.makedirs(directory)


# The list of [best_score_, best_params_, best_estimator_] obtained by GridSearchCV
best_score_params_estimator_gs = []

def rmsle(y_true, y_pred):
    y_true = np.array(y_true)
    y_pred = np.array(y_pred)
    assert len(y_true) == len(y_pred)
    return np.sqrt(np.mean(np.square(np.log1p(y_pred) - np.log1p(y_true))))
rmsle_scorer = make_scorer(rmsle, greater_is_better=False)
# For each model
for acronym in pipes.keys():
    gs = RandomizedSearchCV(
        estimator=pipes[acronym],
        param_distributions=param_grids[acronym],
        scoring=rmsle_scorer,
        n_iter=50, 
        n_jobs=2,
        cv=ps,
        return_train_score=True)

    # Fit the pipeline
    gs = gs.fit(X_train_val, y_train_val)

    # Update best_score_params_estimator_gs
    best_score_params_estimator_gs.append([-gs.best_score_, gs.best_params_, gs.best_estimator_])

    # Sort cv_results in ascending order of 'rank_test_score' and 'std_test_score'
    cv_results = pd.DataFrame.from_dict(gs.cv_results_).sort_values(by=['rank_test_score', 'std_test_score'])

    # Get the important columns in cv_results
    important_columns = ['rank_test_score',
                         'mean_test_score',
                         'std_test_score',
                         'mean_train_score',
                         'std_train_score',
                         'mean_fit_time',
                         'std_fit_time',
                         'mean_score_time',
                         'std_score_time']

    # Move the important columns ahead
    cv_results = cv_results[important_columns + sorted(list(set(cv_results.columns) - set(important_columns)))]

    # Write cv_results file
    cv_results.to_csv(path_or_buf=abspath_curr + 'result/cv_results/GridSearchCV/' + acronym + '.csv', index=False)

# Sort best_score_params_estimator_gs in descending order of the best_score_
best_score_params_estimator_gs = sorted(best_score_params_estimator_gs, key=lambda x : x[0], reverse=True)

# Print best_score_params_estimator_gs
pd.DataFrame(best_score_params_estimator_gs, columns=['best_score', 'best_param', 'best_estimator'])

[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.042419 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1485
[LightGBM] [Info] Number of data points in the train set: 1458644, number of used features: 16
[LightGBM] [Info] Start training from score 0.000039
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf

,best_score,best_param,best_estimator
0,0.128918,"{'model__eta0': 0.0001, 'model__alpha': 1e-05}","(SGDRegressor(alpha=1e-05, eta0=0.0001, random..."
1,0.124589,"{'model__min_samples_leaf': 5, 'model__max_ite...","(HistGradientBoostingRegressor(max_depth=3, mi..."
2,0.124352,"{'model__num_leaves': 31, 'model__n_estimators...","(LGBMRegressor(max_depth=3, n_estimators=50, r..."

# Model Selection

In [66]:
# Implement me
best_score_gs, best_params_gs, best_estimator_gs = best_score_params_estimator_gs[2]

# Generating the Submission File
Use the best model selected earlier to generate the submission file for this kaggle competition.

## Creating the directory for the submission file

In [67]:
# Make directory
directory = os.path.dirname(abspath_curr + 'result/submission/')
if not os.path.exists(directory):
    os.makedirs(directory)

## Generating the submission file

In [68]:
# Get the prediction on the testing data using best_model
y_test_pred = best_estimator_gs.predict(X_test)

# Get the dataframe of y_test_pred, which has the same shape as df_train
df_y_test_pred = pd.DataFrame(np.tile(y_test_pred.reshape(-1, 1), df_train.shape[1]),
                              columns=df_train.columns)

# Transform df_y_test_pred back to the original scale
df_y_test_pred = pd.DataFrame(ss.inverse_transform(df_y_test_pred),
                              columns=df_train.columns)

# Get the submission dataframe
df_submit = pd.DataFrame(np.hstack((df_raw_test[['id']], df_y_test_pred[[target]])),
                         columns=['id', target])

# Generate the submission file
df_submit.to_csv(abspath_curr + 'result/submission/submission.csv', index=False)